/* Master Styles */
body{
    font-family: "Lato", sans-serif;
    margin: 0px;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
}

/* Nav Styles */

.NavBar {
    display: flex;
    justify-content: space-between;
    padding: 38px;
    background-color: #f99719;
    border: 1px solid transparent;
}
.left-side {
    display: flex;
}
.NavBar > .left-side > div{
    margin-right: 20px;
    font-size: 0.9rem;
    text-transform: uppercase;
}
.nav-link-bar {
    height: 20px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.6s;
}
.nav-link-bar a{
    color: brown;
    text-decoration: none;
    transition: color 0.6s;
}
.nav-link-bar:hover{
    border-bottom: 1px solid brown;
}
.nav-link-bar a:hover{
    color:brown;
}

/* portfolio Styles */
.content-space{
    background-color: black;
    border: 1px solid #f99719;
    
}

.portfolio-items-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 10px;
    
    

}

.portfolio-wrapper {
    position: relative;
}

.portfolio-img-background{
    
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    height: 350px;
    width: 50%;
    border: 1px solid black;
    border-radius: 6px;
    margin-left: 150px;
    margin-top:20px;
    margin-bottom: 20px;
    
}

.img-text-wrapper{
    position: absolute;
    top:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    
}

.logo-wrapper img{
 width:50%;
   
    margin-bottom: 20px;
}

.img-text-wrapper .subtitle{

    transition: 1s;
    font-weight: 600;
    color:transparent;
}

.img-text-wrapper:hover .subtitle{

    font-weight: 800;
    color: lightseagreen;
}
.img-darken{
    transition: 1s;
    filter: brightness(10%);
}

.bottom-bar{
    display: flex;
    background-color: #f99719 ;
    height: 100px;
}


